.dart_tool/
.flutter-plugins
.flutter-plugins-deps
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/Generated.xcconfig
*.iml
.gradle/
.idea/
android/.gradle/
android/local.properties
pubspec.lock
.DS_Store
