name: evde_kutuphane
description: Evde kütüphane projesi
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  provider: ^6.0.0
  sqflite: ^2.3.0
  path: ^1.8.0
  http: ^1.0.0
  mobile_scanner: ^3.0.0
  uuid: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
